<div>
	<form action="/create">
		<input type="text" name="blogTitle" placeholder="Blog Title">
		<br/>
		<textarea rows="6" cols="25" name="postBody" placeholder="Write your post here"></textarea>
		<br/>
		<input type="submit" value="Create Post">
	</form>
</div>