<html>
	<head>
		<link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/static/libs/jquery/dist/jquery.js">
		<link rel="stylesheet" href="/static/libs/bootstrap/dist/js/bootstrap.js">
	</head>
	<body>
		{{{body}}}
	</body>
</html>