<div>
	<form action="/update">
		<input type="text" name="blogTitle" placeholder="Blog Title" value="{{post.title}}">
		<br/>
		<textarea rows="6" cols="25" name="postBody" placeholder="Write your post here">{{post.post}}</textarea>
		<br/>
		<input type="submit" value="Update Post">
	</form>
</div>